.checkout {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  max-width: 1000px;
}

.table {
  width: 70%;
}

.cart {
  text-align: left;
  color: #464646;
  margin: 16px 10px;
}

.ads {
  width: 30%;
}

.acc {
  width: 100%;
  color: #6c6c6c;
  text-align: left;
}

.total {
  width: 100%;
  border-top: 1px solid #eee;
  padding: 20px 0;
  text-align: left;
  color: #6c6c6c;
}